extends layout
include mixins/fundingchart

block content
    script.
        var data = !{JSON.stringify(data)};

    .container
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="https://code.highcharts.com/stock/modules/stock.js")
        script(src="https://code.highcharts.com/stock/indicators/indicators.js")
        script(src="https://cdn.datatables.net/2.0.3/js/dataTables.js", crossorigin='anonymous')
        script.
            $(document).ready( function () {
                let table = data.fundingHistory.map( val => {
                    return { perp: val.perp, 
                            apy: val.history.slice(-1)[0][1].toFixed(4),
                            ave: val.average.slice(-1)[0].average.toFixed(4),
                            volume: val.coin ? val.coin.baseVolume : ''
                            }
    
                });

                $('#myTable').DataTable( 
                    {
                        data: table,
                        paging: false,
                        columns: [
                            { data: "perp", title: 'Perp'},
                            { data: "apy", title: 'APY' },
                            { data: "ave", title: '1 Day Average'},
                            { data: "volume", title: 'Spot Volume'}   
                        ]
                    }
                )
            });
        div 
            table(id="myTable" class="table table-striped")


        div
            each val,index in data.fundingHistory
                div(id=`perp-${index}`)                
                +fundingchart(`#perp-${index}`, `data.fundingHistory[${index}].perp`, `data.fundingHistory[${index}].history`)

        

