mixin vxcontracts(contracts)
    table(class="table table-striped")
        tr
            th Contract
            th Expiration
            th DTE
            th Open Interest
            th Volume
        each n in contracts
            tr
                td
                    .vxtd= n.symbol
                td 
                    .vxtd= n.experation
                td
                    .vxtd= n.dte
                td
                    .vxtd= n.oi
                td
                    .vxtd= n.volume

